#header{
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color:rgb(6, 199, 173);
}
#image{
    height: 110px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#name{
    letter-spacing:0.2em ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.DownloadCV{
    background-color:rgba(174, 192, 16, 0.753);
    padding-left: 15px;
    padding-right: 15px;
    border-style: groove;
    box-shadow: 1px;
    border-radius: 20px;
    border-color: rgb(8, 26, 75);
}
.HireMe{
    background-color:rgba(235, 133, 75, 0.753)
    padding-left: 15px;
    padding-right: 15px;
    border-style: groove;
    box-shadow: 1px;
    border-radius: 20px;
    border-color: rgb(8, 26, 75);
}
#web{
    letter-spacing: 0.1em;
    font-family: serif;
    margin-top: 8px;
}
#underline{
    width: 155px;
    height: 2.5px;
    background-color: rgb(88, 223, 10);
    padding-left: 2ch;
    padding-right: 2ch;
}
#wrapper{
    padding: 0px;
    margin-top: 25px;
}

#progress-bar{
    background-color: rgb(194, 196, 197);
    height: 10px;
    width: 200px;
}



.skills{
    display: grid;
    grid-template-columns: 40fr 4fr;
}

#progresscss{
    background-color: rgba(161, 17, 17, 0.781);
    height: 10px;
    width: 150px;
}



#progresshtml{
    background-color: rgba(230, 69, 136, 0.781);
    height: 10px;
    width: 190px;
}

#progressjs{
        background-color: rgba(248, 59, 84, 0.781);
        height: 10px;
        width: 160px;
    }



#progresssketch{
    background-color: rgba(7, 84, 228, 0.781);
            height: 10px;
            width: 160px;
}

#progressxd{
    background-color: rgba(87, 141, 26, 0.781);
            height: 10px;
            width: 140px;
}

#progressadobe{
    background-color: rgba(196, 97, 110, 0.781);
    height: 10px;
    width: 180px;
}
